<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pureboyz.studymap.mapper.user.UserMapper">
	<select id="SelectUserByIdAndPassword" parameterType="hashMap" resultType="hashMap">
		SELECT
			 SEQUSERINFO
			,ID
			,PASSWD
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d %H:%i:%s') AS CREATEDATE
			,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
			,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
		FROM
			USERINFO
		WHERE 1=1
			AND ID 		= #{id}
			AND PASSWD 	= PASSWORD(#{password})
	</select>
</mapper>