/* header */
header { width:100%;padding:20px 0;border-bottom:1px solid #ccc; }
header .container { margin:0 auto;width:80%;height:10vh;padding:0 15px; }
header .container .left_menu { float:left;width:20%; }
header .container .left_menu .navi ul li { display:inline-block;line-height:10vh; }
header .container .left_menu .navi ul li a { font-size:30px;font-weight:600; }
header .container .right_menu { float:left;width:80%;text-align:right; }
header .container .right_menu .navi ul li { display:inline-block;line-height:10vh;height:10vh;padding:0 15px;margin:0 15px;cursor:pointer; }
header .container .right_menu .navi ul li.on { border-bottom:2px solid #252525;margin-bottom:-2px; }
header .container .right_menu .navi ul li.hover { border-bottom:2px solid #252525;margin-bottom:-2px; }
header .container .right_menu .navi ul li a { color:#a8a8a8;font-size:17px;font-weight:600; }
header .container .right_menu .navi ul li a.on { color:#252525; }
header .container .right_menu .navi ul li a.hover { color:#252525; }
header .container .right_menu:after { content:"";display:block;clear:both; }

/* main_container */
.main_container { margin:0 auto;width:80%; }
.main_container aside { float:left;margin:0 auto;width:20%;height:85vh;border-right:1px solid #ccc;margin-right:-1px; }
.main_container section { float:left;margin:0 auto;width:80%; }
.main_container section:after { content:"";display:block;clear:both; }