<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pureboyz.studymap.mapper.workspace.WorkspaceMapper">
	<select id="SelectWorkspaceListBySequser" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQWORKSPACE
			,WORKSPACE_TITLE
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d %H:%i:%s') AS CREATEDATE
			,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
			,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
			,SEQUSERINFO
		FROM
			WORKSPACE
		WHERE 1=1
			AND SEQUSERINFO = #{SESSION_SEQUSERINFO}
		ORDER BY CREATEDATE ASC
	</select>
	
	<select id="SelectWorkspaceByTitleAndSequser" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQWORKSPACE
			,WORKSPACE_TITLE
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d %H:%i:%s') AS CREATEDATE
			,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
			,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
			,SEQUSERINFO
		FROM
			WORKSPACE
		WHERE 1=1
			AND WORKSPACE_TITLE = #{workspaceTitle}
			AND SEQUSERINFO 	= #{SESSION_SEQUSERINFO}
	</select>
	
	<insert id="InsertWorkspace" parameterType="myMap">
		INSERT INTO
			WORKSPACE
		(
			 WORKSPACE_TITLE
			,CREATEDATE
			,SEQUSERINFO
		)
		VALUES
		(
			 #{workspaceTitle}
			,now()
			,#{SESSION_SEQUSERINFO}
		)
	</insert>
	
	<select id="SelectedWorkspace" parameterType="myMap" resultType="myCamelMap">
		SELECT
			 SEQWORKSPACE
			,WORKSPACE_TITLE
			,DATE_FORMAT(CREATEDATE, '%Y-%m-%d %H:%i:%s') AS CREATEDATE
			,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
			,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
			,SEQUSERINFO
		FROM
			WORKSPACE
		WHERE 1=1
			AND SEQWORKSPACE = #{seqworkspace}
	</select>
	
	<select id="SelectPostingListBySeqworkspace" parameterType="myMap" resultType="myCamelMap">
		SELECT
			*
		FROM
		(
			SELECT
				 CAST(@ROWNUM:=@ROWNUM+1 AS SIGNED) AS ROW_NUM
				,SEQPOSTINGLIST
				,POSTING_TITLE
				,POSTING_WRITER
				,POSTING_CONTENTS
				,DATE_FORMAT(CREATEDATE, '%Y-%m-%d %H:%i:%s') AS CREATEDATE
				,DATE_FORMAT(UPDATEDATE, '%Y-%m-%d %H:%i:%s') AS UPDATEDATE
				,DATE_FORMAT(DELETEDATE, '%Y-%m-%d %H:%i:%s') AS DELETEDATE
				,SEQUSERINFO
				,SEQWORKSPACE
			FROM
				 POSTINGLIST T1
				,(SELECT @ROWNUM:=0) TMP
			WHERE 1=1
				AND SEQUSERINFO 	= #{SESSION_SEQUSERINFO}
				AND SEQWORKSPACE 	= #{seqworkspace}
			ORDER BY
				CREATEDATE ASC
		) T0
		ORDER BY
			ROW_NUM DESC
	</select>
	
	<insert id="InsertPosting" parameterType="myMap">
		INSERT INTO
			POSTINGLIST
		(
			 POSTING_TITLE
			,POSTING_WRITER
			,POSTING_CONTENTS
			,CREATEDATE
			,SEQUSERINFO
			,SEQWORKSPACE
		)
		VALUES
		(
			 #{postingTitle}
			,#{SESSION_ID}
			,#{postingContent}
			,now()
			,#{SESSION_SEQUSERINFO}
			,#{seqworkspace}
		)
	</insert>
</mapper>